<div *ngIf="userloggedin">
	<nav class="navbar navbar-static-top" style="margin-left:0px;background-color:blue;width:100%">
		  <!-- Sidebar toggle button-->
		  <span class="logo-lg" style="color:#ffffff;text-align:center"><h2>Admin Panel</h2></span>
		  <!-- Navbar Right Menu -->
		  <div class="navbar-custom-menu">
			
		  </div>
	</nav>
    <a href="javascript:void(0)" (click)="signout()">Logout</a>
</div>	
 
<div *ngIf="!userloggedin">
	<nav class="navbar navbar-static-top" style="margin-left:0px;background-color:blue;width:100%">
		  <!-- Sidebar toggle button-->
		  <span class="logo-lg" style="color:#ffffff;text-align:center"><h2>Admin Login Panel</h2></span>
		  <!-- Navbar Right Menu -->
		  <div class="navbar-custom-menu">
			
		  </div>
	</nav>
</div>	