<form [formGroup]="userForm" (submit)="userAdd()">	
	  <div>
	    <label>Username</label>
	    <input type="text" formControlName="username" id="username"/> 
	    <control-messages [control]="userForm.controls.username"></control-messages>
	  </div> 
	
	  <div>
	    <label>Password</label>
	    <input type="password" formControlName="password" id="password"/> 
	    <control-messages [control]="userForm.controls.password"></control-messages>
	  </div>
	
	  <div>
	    <label>Email</label>
	    <input type="text" formControlName="email" id="email"/> 
	    <control-messages [control]="userForm.controls.email"></control-messages>
	  </div>
	  
	  <div>
	    <label>First Name</label>
	    <input type="text" formControlName="firstname" id="firstname"/> 
	    <control-messages [control]="userForm.controls.firstname"></control-messages>
	  </div>
	
	  <div>
	    <label>Last Name</label>
	    <input type="text" formControlName="lastname" id="lastname"/> 
	    <control-messages [control]="userForm.controls.lastname"></control-messages>
	  </div>

	  <p>
		<input type="submit" name="Submit" value="Submit"/> 
	  </p>
</form>	
