<form [ngFormModel]="registrationForm" (ngSubmit)="registerUser(registrationForm.value)">	
	 <div>		
		  <label>Username</label>
		  <input type="text" name="username" ngControl="username"/> 	
          <em *ngIf="!username.valid && submitAttempt">Required</em>		  
	 </div>
	 
	 <div>		
		  <label>Email</label>
		  <input type="text" name="email" ngControl="email"/> 		
		  <em *ngIf="!email.valid && submitAttempt">Required</em>
	 </div>
	 
	 <div>
	      <label>First Name</label>
	      <input type="text" name="first_name" ngControl="first_name"/>
          <em *ngIf="!first_name.valid && submitAttempt">Required</em>		  
	 </div>
	 
	 <div>
	      <label>Last Name</label>
	      <input type="text" name="last_name" ngControl="last_name"/> 
		  <em *ngIf="!last_name.valid && submitAttempt">Required</em>
	 </div>

	 <div>	   
	      <input type="button" name="Submit" value="Submit" (click)="updateUser(user, user._id)"/> 
	 </div>
</form> 
