<h2>{{sectionTitle}}</h2>
<form [formGroup]="resetpasswordForm">	
	<div>
		<label>New Password</label>
		<input type="password" [formControl]="resetpasswordForm.controls['newpassword']" name="newpassword"/> 
		<div *ngIf="resetpasswordForm.controls['newpassword'].hasError('required') && submitted" class="alert alert-danger">Enter new password.</div>          
	</div> 
	
	<div>
	    <label>Confirm Password</label>
	    <input type="password" [formControl]="resetpasswordForm.controls['confirmpassword']" name="confirmpassword"/> 
	    <div *ngIf="resetpasswordForm.controls['confirmpassword'].hasError('required') && submitted" class="alert alert-danger">Enter confirm password.</div>          
	</div>

	<p>
		<input type="button" name="Submit" value="Submit" (click)="resetPassword()"/> 
	</p>
</form>	
